<div class="col-md-6 offset-md-3">  

<h3 class="text-center space"> Add ICU </h3>

<form (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <label> Bed Limit </label>
        <input type="text" class="form-control" id="bedLimit" 
            [(ngModel)]="icusub.bedLimit" name="bedLimit">
    </div>
    <div class="form-group">
        <label> Layout Info </label>
        <input type="text" class="form-control" id="layoutInfo" 
            [(ngModel)]="icusub.layoutInfo" name="layoutInfo">
    </div>
    <button class="btn btn-success" type="submit"> Add ICU </button>
</form>


</div>