<!DOCTYPE html>
<html lang="en">

    <!-- <link href="../app/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    


<header id="header" class="">
    <div class="container d-flex align-items-center">
        
        <h1 class="logo mr-auto"><a routerLink="">Alert To Care</a></h1>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
                <li><a routerLink="">Home </a></li>
                <li class="drop-down">
                    <a>ICU</a>
                    <ul>
                        <li><a routerLink="geticus">Show all ICUs</a></li>    
                        <li><a routerLink="addicu">Add ICU</a></li>    
                    </ul>
                </li>
                <li class="drop-down">
                    <a>Beds</a>
                    <ul>
                        <li><a routerLink="getbeds">Show all Beds</a></li>    
                        <li><a routerLink="addbed">Add Bed</a></li>    
                    </ul>
                </li>
                <li class="drop-down">
                    <a>Devices</a>
                    <ul>
                        <li><a routerLink="getdevices">Show all Devices</a></li>    
                        <li><a routerLink="adddevice">Add Device</a></li>    
                    </ul>
                </li>
                <li class="drop-down">
                    <a>Bed Monitor</a>
                    <ul>
                        <li><a routerLink="getmonitors">Show all Bed Monitors</a></li>    
                        <li><a routerLink="addmonitor">Map Bed Monitor</a></li>    
                    </ul>
                </li>
                <li class="drop-down">
                    <a>Patients</a>
                    <ul>
                        <li><a routerLink="getpatients">Show all Patients</a></li>    
                        <li><a routerLink="addpatient">Add Patient</a></li>    
                    </ul>
                </li>

              </ul>
        </nav>

    </div>
</header>




<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<footer class="footer">
    <div class="container">
        <span> Alert to Care Philips 2020 </span>
    </div>
</footer>